* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: lightgray;
}

.container {
    background-color: white;
    width: 400px;
    padding: 40px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgb(52, 51, 51);
}

.container h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 25px;
    text-align: center;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 20px;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Adjust margin as needed */
}

.u-section-1 {
    background-color: #f0f0f0; /* Example background color */
}

/* Option 1:  Space between all inputs */
form > div {
  margin-bottom: 15px; /* Adjust the value for desired spacing */
}

/* Option 2: Space between only input fields */
input {
  margin-bottom: 15px;
}

.login-box .card-body .h1 {
  font-size: 2em; /* 2 times the parent element's font size */
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-image: url("{% static 'images/photo-1565980100411-348849be0ff6.jpeg' %}"); /* Updated with Django static tag */
  background-size: cover; /* Adjust background size as needed */
  background-position: center; /* Adjust background position as needed */
}
