*
{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body
{
    font-size: 14px;
    background-color:lightgray;
}
.container
{
    background-color:white;
    width: 700px;
    padding: 40px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgb(52, 51, 51);
}
.container h2
{
    font-size: 24px;
    line-height: 24px;
    padding: 25px;
    text-align: center;
}
.input-name
{
    width: 90%;
    position: relative;
    margin: 20px;
}